**/*.zip
**/*.7z
**/*.rar

**/*.out
**/*.o
**/*.gch
**/*.exe
build/

**/*.csv
**/*.dat
**/*.json

**/*.png
**/*.svg


**/.ipynb_checkpoints/
**/.vscode/

**/report/*

# LaTeX
**/tex/*.aux
**/tex/*.log
**/tex/*.synctex.gz
**/tex/*.pdf
**/tex/titlepage.tex